@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=MedievalSharp&display=swap'); /*importing fonts*/

main{
    
        padding-top: 0px;
        background-color: #999bb8;
      
}

h2{

    font-size: 28px;
}
  
.hidden {
    display: none;
}

.hidden img {
    width: 40%; /* This will make the image about 70% smaller */
}

.hidden p {
    font-size: 2em; /* This will make the text 3 times bigger */
}
.show-modal {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
  }

  .show-modal img {
    height: 100%; /* This will make the image about 70% smaller */
}



.one-class-to-rule-them-all img {
    height:65%;
    width:65%;
}
.one-class-to-rule-them-all {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #f0ebe8; /* changed to a more antique color */
    font-family: 'MedievalSharp', cursive; /* changed to a more lore-like font */
    background-color: white;
}

.the-header {
    display: grid;
    grid-template-columns: repeat(4, auto);
    
    background-image: url('media/images/wikiwizard.png');
    background-size: cover;
    background-color: #999bb8;
    
  
  }
  body {
    background-color: #ffffff; /* Light parchment color */
    color: #3e2c1a;
    font-family: 'MedievalSharp', cursive;
    background-image: url('media/images/parchment_texture.png'); /* A subtle parchment texture image */
}


.grid-header-item {
    text-shadow: 2px 2px 4px #917c77;
    background-color: #14120d;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.2);
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* added for a more magical, less sharp look */
    margin-top: 10px;
    font-size: x-large;
    background-color: rgba(255, 255, 255, 0.548); /* Semi-transparent white background for a bit of modern flair */
    border-radius: 15px; /* Rounded edges to soften the design */
    border: 2px solid #6d5a4f; /* Dark border for contrast */
    /* padding: 15px; */
    margin: 15px;
}

.loading {
    display: none;
    position: fixed; 
    z-index: 1000;  
    top: 0; 
    left: 0; 
    height: 30%; 
    width: 30%; 
    background: rgba(255, 255, 255, 0.8) url('path_to_your_loading_image.gif') 50% 50% no-repeat;
}


/* .grid-header-item a:hover{
   font-size: 20px;
   color: #7c58ac;
} */
.food-item-grid {
    display:grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, 1fr);
    font-family: 'MedievalSharp', cursive;
    font-size: large;
}

.food-item {
    position: relative; /* Make the food-item div a relative container */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for a bit of modern flair */
    border-radius: 15px; /* Rounded edges to soften the design */
    border: 2px solid #6d5a4f; /* Dark border for contrast */
    padding: 15px;
    margin: 15px;
    text-align: center;
}

.food-item-grid img {
    height: 200px;
    width: 200px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* added a shadow for depth */
    border: 10px double #6d5a4f; /* added a double border */
}

.food-item-text {
    position: absolute; /* Position the text absolutely within the food-item container */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    color: #fff; /* Set the color of the text */
    padding: 10px; /* Give the text some padding */
}
.food-item a:visited {
    color: #47332e;
}

.review-rating {
    font-weight: bold;
    padding-top: 0;
    color: #47332e;
}

.created-on {
    font-size: small;
    color: #47332e;
}

.the-footer {
    background-color: #7b5e57;
    border: 3px solid #3e2c1a;
    color: #ececd6;
    padding: 20px;
    font-family: 'Merriweather', serif;
}
.ingredient-table tr:nth-child(even) {
    background-color: #f4e5d1;
}

.grid-arrow {
    display: grid;
    grid-template-columns: repeat(2, 100px);
}

.arrow-item {
    text-shadow: 2px 2px 4px #463632;
    background-color: #d6c29a;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.2);
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}



form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh; /* reduced from 80vh to 60vh to move it up */
    text-align: center;
}

/* Styling the h1 heading */
h1 {
    color: #6d5a4f;
    font-family: 'Merriweather', serif;
    margin-bottom: 2em;
}

/* Styling the form controls */
.form-control {
    display: flex;
    flex-direction: column; /* change this to column */
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

#fixedPrompt {
    margin-bottom: 10px; /* add this */
    font-size: 1.2em;
}

#userInput, select {
    font-family: 'MedievalSharp', cursive; 
    border: 2px solid #6d5a4f;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%; /* increased the size */
    font-size: 1.2em;
    box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}

#userInput:focus, select:focus {
    outline: none;
    box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.2);
}

button[type="submit"] {
    font-size: 1.5em; /* bigger text */
    padding: 15px 30px; /* bigger button */
    border-radius: 5px; /* rounded corners */
    border: none;
    background-color: #7b5e57; /* using the color from the-footer for consistency */
    color: #ececd6; /* using the color from the-footer for consistency */
    cursor: pointer; /* changes the cursor when hovering over the button */
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #6d5a4f; /* slightly darker color when hovering over the button */
}
.container {
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */
  
}

.category-select {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #6d5a4f;
    color: #3e2c1a;
    font-family: 'MedievalSharp', cursive;
    width: 15%;
    box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
}

.category-select:focus {
    outline: none;
    box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.2);
}
