{% extends 'base.html' %}

{% block content %}
    <h1>SignUp</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>SignUp</button>
    </form>
{% endblock content %}
