{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tracker Django Project</title>
        {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> {% endcomment %}
        <link rel="stylesheet" href="{% static "css/projects.css" %}">
    </head>
    <body>
        <div class="one-class-to-rule-them-all"><a href="{% url 'chatbot' %}"><img src="{{ MEDIA_URL }}images/wikiwizard.png" alt="Wiki Wizard"></a></div>
        <header class="the-header">
 


        </div>
        {% if user.is_authenticated %}
            <div class="grid-header-item"><a href="{% url 'chatbot' %}">🧙🏻‍♂️🪄 Conjure Wiki 🪄🧙🏻‍♂️ </a>
            </div>
            <div class="grid-header-item"><a href="{% url 'list_projects' %}">My Wikis</a></div>
            <div class="grid-header-item"> <a href="{% url 'create_category' %}"> Create Category </a> </div>
            <div class="grid-header-item logout"> <a href="{% url 'logout' %}">Logout</a> </div>

            {% else %}
            <div class="grid-header-item"><a href="{% url 'signup' %}">Signup</a>  </div>
            <div class="grid-header-item"><a href="{% url 'login' %}">Login</a> </div>
            {% endif %}
 
        </header>
 
            <script>
                document.getElementById("category-select").addEventListener("change", function() {
                    var category = this.value;
                    window.location.href = "{% url 'list_projects' %}" + "?category=" + category;
                });
            </script>
            <div>
                {% block content %}
                {% endblock content %}
            