{% extends 'base.html' %}
{% block content %}
{% load tags %}
    <h2>Conjure a new Wiki:</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-control d-flex">
            <span id="fixedPrompt">In five steps or less teach me how to: </span>
            <input type="text" id="userInput" name="user_input" style="flex-grow: 1;">
        </div>

        
        <select name="category" class="category-select">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <p>
        </p>
        

         
    
            <button class = "show-modal"> <img src="{{ MEDIA_URL }}images/wizardsubmit.png" alt="Wizard Submit"></button>
            <div class = 'hidden'>
                <p> Loading...</p>
                <img src="{{ MEDIA_URL }}images/wizardloading{% random_number 10 %}.gif" alt="Wizard Loader">
                {% comment %} <img src="{{ MEDIA_URL }}images/wizardloading1.gif" alt="Wizard Loader"> {% endcomment %}
            </div>
        </form>
 

        <table>
            <tbody>
                {% if instruction_image_pairs %}
                <ul>
                    {% for sentence, image_object in instruction_image_pairs %}
                    <li>
                       <p>{{ sentence }}</p> 
                        <img src="{{ image_object.ai_image.url }}" alt="AI generated image">
                    </li>
    
                    {% endfor %}
                </ul>
                {% else %}
                <p>No images are available</p>
                {% endif %}
            </tbody>
        </table>


        <script>
            'use strict';
        
            // This selects the button with the class show-modal
            const btnsOpenModal = document.querySelector('.show-modal');
        
            // This selects the div with the class hidden
            const loadingMessage = document.querySelector('.hidden');
        
            // Event listener for the click event on the button
            btnsOpenModal.addEventListener('click', function() {
                // This changes the display property of the div with the class hidden to block, making it visible
                loadingMessage.style.display = 'block';
            });
        
            document.addEventListener('keydown', function (e) {
                // If the key pressed was the down arrow and the loading message is currently visible
                if (e.key === 'ArrowDown' && loadingMessage.style.display === 'block') {
                    // Hide the loading message
                    loadingMessage.style.display = 'none';
                    // Remove the animation
                    loadingMessage.style.animation = 'none';
                }
            });
        
            // Make sure the loading message is hidden when the document is fully loaded
            document.addEventListener('DOMContentLoaded', function() {
                loadingMessage.style.display = 'none';
            });
        
        </script>
{% endblock content %}




        {% comment %} <div class="mainContainer"> {% endcomment %}
            {% comment %} <button class="magicWandBtnBase bgRed" title="click to see the magic">
                <div class="magicWandStickIcon">
                    <svg x="0px" y="0px" viewBox="0 0 18.3 18.3" style="enable-background:new 0 0 18.3 18.3;" xml:space="preserve">
                        <g>
                            <g id="auto-fix">
                                <path class="magicsColor" d="M15.3,0.3c-0.5-0.5-1.1-0.5-1.6,0L0.3,13.7c-0.5,0.5-0.5,1.1,0,1.6L3,17.9c0.5,0.5,1.1,0.5,1.6,0L17.9,4.6
                c0.5-0.5,0.5-1.1,0-1.6L15.3,0.3z M14.1,6.6l-2.4-2.4l2.7-2.7l2.4,2.4L14.1,6.6z" />
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="magicWandSparksContainer">
                    <div class="magicWandSparksIcon">
                        <svg x="0px" y="0px" viewBox="0 0 56 56" style="enable-background:new 0 0 56 56;" xml:space="preserve">
                            <g>
                                <g id="auto-fix">
                                    <polygon class="magicsColor" points="23.4,20.1 26.3,21.7 24.7,18.9 26.3,16 23.4,17.6 20.6,16 22.2,18.9 20.6,21.7 " />
                                    <polygon class="magicsColor" points="37.1,31.3 34.3,29.7 35.9,32.6 34.3,35.4 37.1,33.8 40,35.4 38.4,32.6 40,29.7 " />
                                    <polygon class="magicsColor" points="40,16 37.1,17.6 34.3,16 35.9,18.9 34.3,21.7 37.1,20.1 40,21.7 38.4,18.9 " />
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="ripple"></div> {% endcomment %}
            {% comment %} </button>
        </div> {% endcomment %}
        {% comment %} <button type="submit" class="btn btn-primary mt-3">Submit</button> {% endcomment %}
  

{% comment %} {% if instruction_image_pairs %}
<ul>
{% for sentence, image_object in instruction_image_pairs %}
<li>
{{ sentence }} 
<img src="{{ image_object.ai_image.url }}" alt="AI generated image">
</li>
{% endfor %}
</ul>
{% endif %} {% endcomment %}
