{% extends 'base.html' %}

{% block content %}
    <h2>Create a new project</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
{% endblock content %}
