{% extends 'base.html' %}

{% block content %}
    <h2>Create a new spell Category:</h2>
    
    <div class="form-control d-flex">
        <span id="fixedPrompt">
    <form method="post">
        {% csrf_token %}
        {{ category_form.as_p }}
        <button>Create</button>
    </span>
    </div>

    </form>
{% endblock content %}
