{% extends 'base.html' %}

{% block content %}
    <h2>Description of an Image</h2>
    <form method="post">
        {% csrf_token %}
        <input type = "text" class ="form-control" name="user_input">
        <button type = "submit" class="btn btn-primary mt-3"> Submit </button>
    </form>


    {% if object %}
    <div>
        {{ object.phrase }}
        <br>
        <img src="{{object.ai_image.url}}" alt="{{object.phrase}}">
    </div>
{% endif %}
{% endblock content %}