{% extends 'base.html' %} {% block content %}
<main>
  <h2>List of Spells:</h2>

  <div class="container">
    <select
      onchange="location = this.value;"
      name="category"
      ,
      class="category-select"
    >
      <option value="">Filter by Spell Type</option>

      {% for category in categories %}
      <option value="?category={{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="food-item-grid">
    {% for prompt in prompts %}
    <div class="food-item">
      <a href="{% url 'show_prompt' prompt.id %}">
        <p>
          {% if prompt.text|length > 39 %} {{ prompt.text|slice:"39:" }}
          {%else%} 
          {{ prompt.text }} 
          {% endif %}
        </p>
      </a>
      {% if prompt.thumbnail %}
      <img src="{{ prompt.thumbnail.ai_image.url }}" alt="Thumbnail" />
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <h2>Projects</h2>
  {% for project in projects %}
  <div>
    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
    <p>{{ project.tasks.all|length }} tasks</p>
  </div>
  {% endfor %}
</main>

{% endblock content %}
