{% extends 'base.html' %} {% block content %}
<main>
  <div>
    <h2>How to {{prompt.text}}</h2>
    <p>Conjured at {{ prompt.created_at }}</p>
    <div class="grid-arrow">
      <div class="arrow-item">
        {% if previous_prompt %}
        <a href="{% url 'show_prompt' previous_prompt.id %}"> Previous </a>
        {% else %}
        <a href="#"> No Previous </a>
        {% endif %}
      </div>
      <div class="arrow-item">
        {% if next_prompt %}
        <a href="{% url 'show_prompt' next_prompt.id %}"> Next </a>
        {% else %}
        <a href="#"> No Next </a>
        {% endif %}
      </div>
    </div>
    <h2></h2>
    <table>
      <tbody>
        {% if instruction_image_pairs %}
        <ul>
          {% for sentence, image_object in instruction_image_pairs %}
          <li>
            <p>{{ sentence }}</p>
            <img
              src="{{ image_object.ai_image.url }}"
              alt="AI generated image"
            />
          </li>

          {% endfor %}
        </ul>
        {% else %}
        <p>No images are available</p>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="grid-arrow">
    <div class="arrow-item">
      <a href="{% url 'show_prompt' prompt.id|add:-1 %}"> Previous </a>
    </div>
    <div class="arrow-item">
      <a href="{% url 'show_prompt' prompt.id|add:1 %}"> Next </a>
    </div>
  </div>
</main>
{% endblock %}
